body {
  background-color: #e6e0ca;
  color: #1c1c1c;
}

.darkCard {
  background-color: #1d1d1d;
  color: #dcdadb;
  width: 50%;
  white-space: pre-wrap;
}

#Navbar {
  a {
    color: maroon;
    font-weight: 500;
  }
  position: sticky;
  top: 0;
  height: 6vh;
  z-index: 1;
}

#PageTitle {
  color: maroon;
  font-weight: 1000;
  font-size: xx-large;
}

.scrolled {
  top: 0;
}

#Header {
  height: 94vh;
  width: 100vw;
}

#HeaderContainer {
  width: 50%;
  @media all and (orientation: portrait) {
    width: 100%;
  }
}

#Footer {
  height: 25vh;
  width: 100vw;
  span {
    color: maroon;
    font-weight: 500;
  }
}

#me {
  max-height: 50vh;
  min-height: 30vh;
}