@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  html {
    font-size: calc(60% + 1vmin);
  }

  hr {
    width: 20%;
  }

  .SectionTitle {
    font-size: calc(60% + 5vmin);
  }

  #IntroContainer {
    padding-top: 2rem;
  }

  #Intro {
    width: 90vw;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
  }

  #IntroText {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }

  #IntroPic {
    height: auto;
    width: 50vw;
  }

  .Card {
    width: 95%;
  }

  .CardTitle {
    font-size: calc(60% + 5vmin);
  }

  .CardText {
    width: 80vw;
  }

  .CardPic {
    width: 80vw;
  }

  .CardVidContainer {
    width: 80vw;
    height: 15vh;
    padding-top: 20%;
  }

  #Navbar {
    animation: none;
    font-size: 16;
    color: var(--light);
    background-color: var(--dark);
    /* animation: navcolor 1s ease infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -18s);
    animation-iteration-count: 1;
    animation-fill-mode: both; */
  }

  .NavTitle {
    font-size: calc(60% + 5vmin);
    top: 0px;
    animation: none;
    /* animation: title 1s ease infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -18s);
    animation-iteration-count: 1;
    animation-fill-mode: both; */
  }

  #Nav-Left,
  #Nav-Right {
    width: 0%;
  }
  .NavLink {
    display: None;
  }

  .SectionBox {
    margin-top: 5rem;
  }
/* 
  @keyframes title {
    from {
      font-size: calc(60% + 5vmin);
      top: 5vh;
    }
    to {
      font-size: calc(60% + 5vmin);
      top: 0px;
    }
  } */
}
