@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (max-width: 1030px) {
  #Navbar {
    animation: none;
    font-size: 16;
    color: var(--light);
    background-color: var(--dark);
    /* animation: navcolor 1s ease infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -18s);
    animation-iteration-count: 1;
    animation-fill-mode: both; */
  }

  .NavTitle {
    font-size: calc(60% + 5vmin);
    top: 0px;
    animation: none;
    /* animation: title 1s ease infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -18s);
    animation-iteration-count: 1;
    animation-fill-mode: both; */
  }

  #Nav-Left,
  #Nav-Right {
    width: 0%;
  }
  
  .NavLink {
    display: None;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: calc(60% + 1vmin);
  }

  hr {
    width: 20%;
  }

  .SectionTitle {
    font-size: calc(60% + 5vmin);
  }

  #IntroContainer {
    padding-top: 2rem;
  }

  #Intro {
    width: 90vw;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    min-width: 0px;
  }

  #IntroText {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  #IntroPic {
    height: auto;
    width: 50vw;
  }

  .Card {
    width: 95%;
  }

  .CardTitle {
    font-size: calc(60% + 5vmin);
  }

  .CardText {
    width: 80vw;
  }

  .CardPic {
    width: 80vw;
  }

  .CardVidContainer {
    width: 80vw;
    height: 15vh;
    padding-top: 20%;
  }

  .SectionBox {
    margin-top: 5rem;
  }

  #TierContainer {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
  }
  
  #TierBoard {
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    min-width: 0;
    width: 100%;
  }
  
  .TierRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 2vh;
  }
  
  .TierLabelContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%
  }

  .TierLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: auto;
    width: 25%;
    font-size: 30;
    font-weight: 700;
  }
  
  .TierDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 75%;
    height: 10vh;
    background-color: rgb(56, 56, 56);
    color: var(--light);
  }
  
  .TierDescText {
    padding: 1rem;
  }
  
  .TierStuff {
    width: 100%;
    height: 10vh;
    margin-top: 1rem;
    margin-left: 0;
    padding: 0;
    background-color: rgb(56, 56, 56);
  }
  
  .TierIconHolder {
    display: flex;
    align-items: center;
    width: auto;
    height: 80%;
  }
  
  .TierIcon {
    height: 100%;
    width: auto;
  }
  
  .TierIconDesc {
    color: white;
    font-family: "Arvo";
    white-space: nowrap;
    position: relative;
    bottom: -50%;
    visibility: collapse;
    padding-left: 0;
    width: 0;
    opacity: 0%;
    transition: padding-left 0.3s, opacity 0.5s, width 0.5s;
  }
  
  .TierIconHolder:hover .TierIconDesc {
    visibility: visible;
    bottom: 0;
    width: auto;
    opacity: 100%;
    padding-left: 1rem;
  }
}
