:root {
  --light: #fffcf2;
  --lightmedium: #ccc5b9;
  --medium: #403d39;
  /* --dark: #251401; */
  --dark: #252422;
  --accent: #eb5e28;
  --secondary: #d15424;
  --textshadow: #873414;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

path {
  transform-origin: 50% 0%;
}

body {
  background-color: var(--dark);
  margin: 0px;
  height: auto;
  font-family: "Nunito Sans", sans-serif;
}

.background {
  background-color: var(--dark);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}

.flex-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.section-head {
  background-color: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  transform: skewY(-5deg);
}

.section-head > h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--light);
  width: 80%;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 40;
  line-height: 1.15;
  text-shadow: 3px 4px var(--medium);
}

.body-text {
  width: 80%;
  color: var(--lightmedium);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
}

#FirstSentence {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-shadow: 2px 2px var(--medium);
}

.body-text > strong {
  color: var(--accent);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.body-text > b {
  font-style: bold;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.link {
  display: inline;
  position: relative;
  width: auto;
}

.link > a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.link::before {
	content: "";
	position: absolute;
	left: -0.1px;
	right: -0.1px;
	bottom: 0;
	height: 100%;
	transform: scaleY(.1);
	transition: transform .6s cubic-bezier(0.53, 0.21, 0, 1);
	transform-origin: bottom;
	background-color: var(--accent);
	opacity: 0.6;
}

.link:hover::before {
	transform: scaleY(1);
}

@media all and (min-width: 1024px) {
  .section-head {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    transform: skewY(-2deg);
  }

  .section-head > h1 {
    width: 60%;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 50;
    line-height: 1.15;
    text-shadow: 4px 5px var(--medium);
  }

  .body-text {
    width: 40%;
    color: var(--lightmedium);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
  }

  #FirstSentence {
    font-family: "Montserrat", sans-serif;
    color: var(--accent);
    font-size: 24px;
  }

  .body-text > strong {
    color: var(--secondary);
  }

  .body-text > b {
    font-style: bold;
  }
}

/* HEADER STUFF */

#Header {
  height: 100vh;
}

#MainPic {
  margin-top: 15%;
  border-radius: 50%;
  width: 50%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#MainTitle {
  width: 80%;
}

#MainTitle > h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--light);
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 40;
  line-height: 1.15;
  text-shadow: 1px 1px var(--lightmedium);
}

#MainTitle > h2 {
  color: var(--lightmedium);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

#MainTitle > h2 > b {
  font-weight: bold;
  color: var(--accent);
  text-shadow: 1px 1px var(--textshadow);
}

#ButtonContainer {
  width: 80%; /* mobile */
  display: flex;
  flex-direction: row; /* mobile */
  flex-wrap: wrap;
  justify-content: space-evenly; /* mobile */
  height: auto; /* mobile */
}

@media all and (min-width: 1024px) {
  #Header {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }

  #Header > h1 {
    text-shadow: 2px 2px var(--lightmedium);
  }

  #MainPic {
    margin-top: 5%;
    width: 15%;
    height: auto;
    border: 4px solid rgba(0, 0, 0, 0.1);
  }

  #MainTitle {
    width: 45%;
  }

  #MainTitle > h1 {
    margin-top: 5%;
    font-size: 60;
  }

  #MainTitle > h2 > b {
    text-shadow: 2px 2px var(--textshadow);
  }

  #MainTitle > h2 {
    font-size: 40;
  }

  #ButtonContainer {
    width: 40%; /* mobile */
    justify-content: space-around;
  }
}

/* SCROLL INDICATOR */

#ScrollIndicator {
  position: fixed;
  bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  color: var(--accent);
  animation: vanish 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#ScrollIndicator i {
  animation: flashing 1.4s infinite linear;
  display: inline-block;
}

#ScrollIndicator i:nth-child(2) {
  animation-delay: 0.2s;
}

#ScrollIndicator i:nth-child(3) {
  animation-delay: 0.4s;
}

/* NAV BUTTONS */

.angled-gradient-button {
  margin-bottom: 5%;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  background-size: 250%;
  box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.15);
  color: var(--secondary);
  background-color: transparent;
  border: 3px solid var(--secondary);
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  font-weight: 900;
  cursor: pointer;
  letter-spacing: 2px;
  background-image: linear-gradient(
    90deg,
    var(--secondary) 0%,
    var(--secondary) 50%,
    transparent 50%,
    transparent 100%
  );
  background-position: 90%;
  font-size: 14px;
}

.angled-gradient-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.25);
  background-position: 0;
  color: #fff;
}

.angled-gradient-button:active {
  transform: translateY(-1px);
}

/* SKILL TIER BOARD */

.tier-section-head {
  width: 80%;
  color: var(--accent);
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px var(--medium);
}

.tier-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 80%;
  height: 7vh;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--medium);
  transition: all 0.3s;
}

.tier-icon-holder {
  display: flex;
  align-items: center;
  width: auto;
  height: 80%;
}

.tier-icon {
  height: 100%;
  width: auto;
  transition: height 0.5s;
}

.tier-icon-desc {
  color: white;
  white-space: nowrap;
  position: relative;
  bottom: -50%;
  visibility: hidden;
  font-size: 12px;
  padding-left: 0;
  width: 0;
  opacity: 0%;
  transition: padding-left 0.3s, opacity 0.5s, width 0.1s;
}

.tier-row:hover .tier-icon {
  height: 75%;
}

.tier-icon-holder:hover .tier-icon-desc {
  visibility: visible;
  bottom: 0;
  width: auto;
  opacity: 100%;
  padding-left: 1rem;
}

@media all and (min-width: 1024px) {
  .tier-section-head {
    width: 40%;
    font-size: 25px;
  }

  .tier-row {
    width: 40%;
  }

  .tier-icon-desc {
    font-size: 16px;
  }
}

/* ANIMATIONS */

@keyframes path0 {
  0% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}

@keyframes path1 {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes flashing {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes vanish {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
