:root {
  --dark: #1c1c1c;
  --light: #e6e0ca;
  --card: #f3f0e5;
  --accent: maroon;
}

html {
  font-size: calc(60% + 0.8vmin);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
  font-family: "Open Sans";
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 10vh;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--dark);
  color: var(--light);
  /* border: dotted red 2px; */
  font-family: "Arvo";
}

footer {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: var(--light);
  color: var(--accent);
}

div {
  width: 100%;
  /* border: dotted blue 2px; */
}

hr {
  border-top: 8px solid var(--accent);
  border-radius: 5px;
  box-shadow: 1px 1px 1px grey;
  width: 5%;
}

figcaption {
  text-align: center;
  color: #5c5c5c;
  font-style: italic;
  margin-top: 1rem;
}

/* Navbar */

#Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
  width: auto;
  height: 100%;
  animation: navcolor 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  z-index: 1;
}

#Nav-Left {
  text-align: left;
}

#Nav-Right {
  text-align: right;
}

.NavTitle {
  text-align: center;
  position: relative;
  animation: title 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -8s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#Navbar #Nav-Right > * {
  padding-left: 30px;
}

.NavLink {
  opacity: 0.7;
  transition: opacity 0.5s;
  z-index: 3;
}

.NavLink:hover {
  opacity: 1;
}

/* Intro */

#IntroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}

#Intro {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}

#IntroText {
  padding-left: 5rem;
}

#IntroPic {
  height: 50vh;
  border-radius: 25px;
  box-shadow: 3px 3px 3px grey;
}

#Content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.SectionBox {
  display: flex;
  position: sticky;
  top: 0px;
  height: 10vh;
  width: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--dark);
}

.SectionTitle {
  color: var(--light);
  font-family: "Arvo";
  font-size: 40;
}

#Footer {
  display: inline;
  text-align: center;
  width: auto;
}

.Card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 95%;
  background-color: var(--card);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* border-bottom: 1px dotted var(--accent); */
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.CardTitle {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--accent);
  font-family: "Arvo";
  font-size: 30;
}

.CardText {
  width: 35vw;
}

.CardPic {
  width: 35vw;
  height: auto;
  box-shadow: 3px 3px 3px grey;
}

.CardVidContainer {
  position: relative;
  overflow: hidden;
  width: 35vw;
  padding-top: 20%;
}

.ResponsiveIFrame {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 3px grey;
}

/* ANIMATIONS - keep second last */

@keyframes title {
  from {
    font-size: 60;
    top: 20vh;
  }
  to {
    font-size: 40;
    top: 0px;
  }
}

@keyframes navcolor {
  from {
    font-size: 20;
    color: var(--accent);
    background-color: var(--light);
  }
  to {
    font-size: 16;
    color: var(--light);
    background-color: var(--dark);
  }
}

@keyframes projects {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FONTS - Keep this at the bottom */

/* arvo-regular - latin */
@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/arvo-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/arvo-v14-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/arvo-v14-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/arvo-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/arvo-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/arvo-v14-latin-regular.svg#Arvo")
      format("svg"); /* Legacy iOS */
}
/* arvo-700 - latin */
@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/arvo-v14-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/arvo-v14-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/arvo-v14-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/arvo-v14-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/arvo-v14-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/arvo-v14-latin-700.svg#Arvo")
      format("svg"); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/open-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v18-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/open-sans-v18-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v18-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v18-latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v18-latin-italic.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v18-latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v18-latin-italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/open-sans-v18-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v18-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v18-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v18-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v18-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v18-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}
